/* common of common start */
.common-container {
    font-size: 20px;
}
.p-title {
    font-size: 20px;
    color: #4169E1;
    font-weight : bold;
}

.inline{
    padding-left: 30px;
}

.inline-2{
    padding-left: 60px;
}

.annotation{
    color : #228B22;
    padding-left: 10px;
}

.tip-box {
    border: 2px solid #4169E1;
    border-radius: 15px;
    
}

.tip-container {
    display: flex;
}

.tip-notice {
    color: white;
    background-color: #4169E1;
    height: 40px;
    display: flex;
    justify-content: center; /*Flex 컨테이너 내부의 요소들을 수평으로 가운데 정렬합니다.*/
    align-items: center; /*Flex 컨테이너 내부의 요소들을 수직으로 가운데 정렬합니다.*/
    width: 15%;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.tip-title {
    background-color: #b8c6f0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center; /*Flex 컨테이너 내부의 요소들을 수직으로 가운데 정렬합니다.*/
    border-top-right-radius: 12px;
}

.tip-content {
    margin: 10px;
}

.example-box {
    background-color: #b8c6f0;
    border-radius: 12px;
    padding: 10px;
    margin: 5px;
}

.others-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}
.others-table th, .others-table td, .others-table caption {
    padding: 12px;
    border: 1px solid #D3D3D3;
    text-align: left;
}
.others-table th {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
/* common of common end */

/* 1_semantic */
.example-header{
    border : 2px solid orange;
    margin-bottom: 3px;
    padding-left: 30px;
}
.example-nav{
    border : 2px solid orange;
    padding-left: 30px;
    width: 700px;
    margin-left: 30px;
}
.example-contents{
    border : 2px solid orange;
    padding-left: 30px;
    margin-bottom: 3px;
}
.example-footer{
    border : 2px solid orange;
    padding-left: 30px;
}
